/result
/src/utils/secrets
/src/analysis/codiloResponses/availableCheck/input
/src/analysis/codiloResponses/availableCheck/output
/src/analysis/codiloResponses/initialCheck/input
/src/analysis/codiloResponses/initialCheck/output
/src/analysis/codiloResponses/unificadaCheck/input
/src/analysis/codiloResponses/unificadaCheck/output
/src/analysis/codiloResponses/titleStepsCheck/input
/src/analysis/codiloResponses/titleStepsCheck/output
/src/analysis/codiloResponses/filesCheck/input
/src/analysis/codiloResponses/filesCheck/output
/src/analysis/lawsuitsProjurisEnterprise/input
/src/analysis/lawsuitsProjurisEnterprise/output